@use "./theme.scss";
@use "../pages/Header/style/index.scss" as Header;
@use "../pages/TermsPages/style/index.scss" as TermsPages;
@use "../pages/BlogPages/style/index.scss" as BlogPages;
@use "../pages/ToolPages/style/index.scss" as ToolPages;

.arco-input,
.arco-input-tag-view {
    height: 40px;
}

.w-e-text-placeholder {
    color: #AAB4CA;

    font-size: 14px;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.page {
    max-width: 1300px;
    margin: auto;
}

.content {
    margin-top: 72px;
}