#root {
    --border-color: #e0e6f1;

    --bg-color: rgba(242, 243, 245,0.5);
    --primary: #5370ff;
    --border-radius-small: 8px;
    --border-radius-medium: 16px;
    --border-radius-large: 32px;
}

body {
    --border-radius-small: 8px !important;
    --border-radius-medium: 16px !important;
    --border-radius-large: 32px !important;
}