@import "./theme.scss";
@import "./header.scss";
@import "./blog.scss";
@import "./terms.scss";
@import "./tool.scss";

.arco-input, .arco-input-tag-view {
  height: 40px;
}

.w-e-text-placeholder {
  color: #AAB4CA;

  font-size: 14px;
  font-style: normal;
}
