.terms-wrapper {
    width: 100%;

    background: #f6f6f6;
}

.terms-content {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 84px 0px 103px;

    color: #333;
    background: #fff;

    font-size: 16px;
    line-height: 28px;
}

.terms-title {
    text-align: center;

    font-size: 24px;
    font-weight: 500;
}

.terms-txt {
    margin-bottom: 12px;
}