.tool-time-compute-wrap {
    .tool-time-compute-panel-wrap {
        display: flex;
        align-items: center;

        margin-top: 24px;

        gap: 24px;
    }

    .tool-time-compute-panel-item {
        h4 {
            margin: 0;
            margin-bottom: 12px;
            padding: 0;
        }

        &.middle {
            display: flex;
            align-items: center;
            align-self: flex-end;

            height: 355px;
        }
    }
}