@use "../components/ImageTool/ImageTool.scss";
@use "../components/TextTool/TextTool.scss";

.tool-list {
    display: grid;

    padding: 24px 0;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;

    .tool-item {
        position: relative;

        overflow: hidden;

        height: 240px;

        cursor: pointer;
        user-select: none;

        border-radius: 16px;

        .arco-card-body {
            width: 100%;
            height: 100%;
            padding: 0;
        }

        &:hover {
            .tool-item-title {
                color: var(--primary);
            }
        }
    }

    .tool-item-bg {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: calc(100% - 60px);
        padding: 24px;

        pointer-events: none;

        background: #f7f8fc;

        svg {
            height: 100%;

            opacity: 0.2;
        }
    }

    .tool-item-title {
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 60px;
        padding: 0 16px;

        transition: all 0.2s ease-in;

        color: #fff;
        background: #000;

        .tool-item-title-cn {
            font-size: 24px;
            font-weight: bold;
        }

        .tool-item-title-en {
            font-size: 16px;
        }
    }

}

.tools-content {
    position: relative;

    display: flex;

    min-height: calc(100vh - 72px);
}

.tools-content-nav {
    position: fixed;
    z-index: 1;

    width: 240px;
    height: calc(100vh - 72px);
    padding: 12px;
    padding-left: 0;

    border-right: 1px solid var(--border-color);

    .arco-menu {
        height: 100%;
    }

    .arco-menu-vertical .arco-menu-inner {
        padding: 0;
    }

    .arco-menu-inline-header {
        svg {
            width: 16px;
            height: 16px;
        }
    }

    .arco-menu-indent {
        width: 28px;
    }

    .arco-menu-selected {
        .tools-content-nav-title {
            svg {
                path {
                    fill: rgb(var(--primary-6));
                }
            }
        }
    }
}

.tools-content-nav-title {
    display: flex;
    align-items: center;

    gap: 12px;

    svg {
        path {
            fill: var(--color-text-2);
        }
    }
}

.tools-content-right {
    position: relative;

    width: 100%;
    padding-left: 240px;

    .arco-backtop {
        .arco-btn {
            width: 40px;
            height: 40px;

            .arco-icon {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}

.usual-content {
    padding: 14px 0 24px 12px;
}

.tool-content-title-big {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;

    font-size: 20px;
}

.usual-content-block {
    margin-bottom: 24px;
}

.usual-content-tips {
    margin-top: 12px;

    .arco-alert-info {
        background: var(--bg-color);
    }

    .arco-alert:not(:last-child) {
        margin-bottom: 12px;
    }
}