:root {
  /* 
   * 主题色
   */
  --i-primary: #3033ab;

  /* 
   * 顶部栏
   */
  --i-navbar-bg: rgba(255, 255, 255, 0.7);

  --i-border: rgba(40, 44, 49, 0.12);

  /* 
   * 字体
   */
  --i-font: #3f414a;

  /* 
   * 背景
   */
  --i-bg: #f7f8fc;
}
